@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import "tailwindcss";

body {
  font-family: "Cal Sans", sans-serif;
  background-color: rgb(52, 62, 85);
  color: white;
  background-image: url(../public/images/pattern-background-desktop-dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  user-select: none;
}

@theme {
  --option-bg: #3c4d67;
  --html-background: #fff0e7;
  --css-background: #e0fdf0;
  --javascript-background: #eeeef3;
  --accessibility-background: #f6e5ff;
  --submit-button: #a629f6;
  --submit-button-hover: #6a199f;
}
