@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(52, 62, 85);
  color: white;
}
